body {

  
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: -webkit-linear-gradient(black,black);
    
    margin: 0rem;
    overflow: scroll;
    color: green;
  
  }

  
  h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: green !important;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h1:hover {
    background-color: white;
    color: black !important;
  }
 .footer-basic {
  padding:10px 0;
  
  color:#ffff;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:1;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color: white;
  text-decoraton:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:20px;
}

.footer-basic .social > a {
  font-size:30px;
  width:40px;
  height:1px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:0px solid #ccc;
  margin:0 9px;
  color:white;
  opacity:1;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:1px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* Credit to 
